

body{
    background-color:rgb(76, 77, 121);
    margin: 0ch;
 }
.partederecha{
    background-color: aqua;
    float: right;
    width: 20%;
   
    text-align: center;
 }
 .underline{
    text-decoration: underline;
 }
 .header{
    float: left;
    width: 100%;
    background-color: aliceblue;

 }
 .rojo{
    float: left;
    width: 80%;
    background-color: rgb(146, 27, 106);
    text-align: center;
   
 }
.centre{
    float: left;
    width: 80%;
    background-color: white;
}
div img{
   width: 100%;
   height: 100%;

}
a{
    text-decoration:none ;

}
ul{
    word-spacing: 100px;
}